/* Tabs animations */
.button-hover {
  color: #000;
}

.button-hover::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s;
}

.button-hover:hover::after {
  width: 100%;
}

.button-hover.active::after {
  width: 100%;
  transition: none;
}
