body {
  @apply bg-neutral-50;
}

.bell-animation {
  animation: bell-ring 1s;
}

@keyframes bell-ring {
  15% {
    transform: rotate(25deg);
  }
  20% {
    transform: rotate(-25deg);
  }
  25% {
    transform: rotate(25deg);
  }
  50% {
    transform: rotate(-25deg);
  }
  75% {
    transform: rotate(25deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.timer-animation {
  animation: timer-bar 213s linear infinite;
}

@keyframes timer-bar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.listening-bar-animation {
  animation: listening-bar 700ms ease-in-out infinite;
}

.listening-bar-animation-second {
  animation: listening-bar 500ms ease-in-out infinite;
}

@keyframes listening-bar {
  0% {
    transform: scaleY(0.8);
  }

  100% {
    transform: scaleY(0.3);
  }
}

/* Tabs animations */
.button-hover {
  color: #000;
}

.button-hover::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s;
}

.button-hover:hover::after {
  width: 100%;
}

.button-hover.active::after {
  width: 100%;
  transition: none;
}

.content-o {
  animation-name: opacity-animation;
  animation-duration: 1s;
  animation-delay: 200ms;
  animation-fill-mode: backwards;
}

@keyframes opacity-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
